.test{
    width: 100%;
}

.bg-tagline{
    background-image: url("/website1/assets/img/bg.jpg");
    width: 100%;
    height: 500px;
    background-size: 100% 500px;
    padding-right: 0px;
}

.back-white{
    background-color: white;
    width: 100%;
    height: 51px;
    margin-top: 66px;
    margin-bottom: 15px;
}
.back-white2{
    background-color: white;
    width: 100%;
    height: 37px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.margen {
    margin-bottom: 15px;
    margin-left: 0;
    margin-top: 15px;
    margin-right: 300px

}
.margentext {
    margin-left: 15px;
    margin-right: 600px;
}
.boton {
    margin-left: 300px;
    margin-top: 15px;
}
#center-h1 {
    text-align: center;
}
.masthead {
    height: 47vh;
    min-height: 412px;
    
}