<!-- your html code here -->
<div class="row">
    <div class="col-12 col-md-8 col-sm-2 clearfix">
        <span class="float-left" style="margin: 75px 10px 15px 20px; height: 550px; width: 850px;">
          <h1 class="card-title">This Frirt Heading <samp style="color: gray;">Will Catch Your Eyes</samp></h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi aliquam nam ducimus. Porro dolorum commodi, alias veniam consectetur unde cumque odio mollitia similique incidunt nemo modi voluptates et libero vel! This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          
          </span>

          <div class="row">
          <div class="col-12 col-md-8 col-sm-2">
          <span class="float-left">
            <img src="assets/img/1.jpg" class="rounded-circle" alt="..." style="height: 350px; width: 350px;">
          </div>
      </span>
    
      </div>
    </div>
</div>
