<!-- your html code here -->
<div class="container">
    <h2 class="card-title">Porfolio</h2>
    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
    </div>
 <hr class="mt-5" style="width: 100%;">
    
    
