<!-- your html code here -->
<div class="row">
    <div class="clearfix">
      <span class="float-left" style="padding-left: 45px">
        <div class="col-md-12">
          <img src="assets/img/2.jpg" class="rounded-circle" alt="..." />
        </div>
      </span>
      <div
        class="row"
        style="margin: 75px 10px 15px 20px; height: 500px; width: 1050px"
      >
        <span class="float-right" style="padding-left: 30px; margin: 15px">
          <h1 class="card-title">
            The Second Heading
            <samp style="color: gray">Is Pretty Cool Too.</samp>
          </h1>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            dolore voluptatem voluptatibus amet repudiandae incidunt, laboriosam
            non quidem rerum molestias debitis saepe facere! Cum quos omnis
            corrupti inventore natus culpa. his is a wider card with supporting
            text below as a natural lead-in to additional content. This content is
            a little bit longer.
          </p>
        </span>
      </div>
    </div>
  </div>
  